---
---

@import "reset"
@import "plyr"

$ncc-yellow: #ff0
$ncc-blue: #00f

body
  background-color: white
  font-family: 'Roboto', sans-serif
  font-size: 1.3em

.header
    background-color: $ncc-yellow
    height: 1em
    padding: 2px

.about
  background-color: white
  border-top: 2px solid $ncc-blue
  padding: 15px 10px 19px 15px
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 1.2em

  & p
    padding: 4px

.controls
  background-color: white
  border-top: 9px solid $ncc-blue
  bottom: 0
  left: 0
  padding: 15px 10px 19px 15px
  position: fixed
  right: 0

  & p
    min-width: 250px
    overflow: hidden
    padding: 4px
    text-overflow: ellipsis
    white-space: nowrap

.container
  position: fixed
  right: 0
  bottom: 0
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  z-index: -100

.about-button
  float: right
  margin: 20px

@media only screen and (max-width: 768px)
  .about-button img
    height: 50px
    width: 50px

  .controls
    font-size: 0.7em

  .about
    top: 1.7em
    font-size: 0.7em

