---
---

@import "reset"

body
  background-color: white
  font-family: 'Roboto', sans-serif
  font-size: 1.3em

.logo
  left: 40px
  position: absolute
  top: 40px

.video iframe
  height: 800px
  width: 100%

.selector
  background-color: white
  border-width: 1px
  border-style: solid
  border-color: black
  bottom: 80px
  color: black
  display: block
  left: 300px
  position: fixed
  right: 300px
  text-align: center

.selector a
  text-decoration: none
  color: black

.selector span
  line-height: 2.5

.skip-element

.next-button
  float: right
  margin-left: 20px
  height: 50px
  width: 50px
