---
---

@import "reset"

body
  background-color: white
  font-family: 'Roboto', sans-serif
  font-size: 1.3em

.logo
  left: 40px
  position: absolute
  top: 40px

.video iframe
  height: 800px
  width: 100%

.selector
  background-color: white
  border-width: 1px
  border-style: solid
  border-color: black
  bottom: 80px
  color: black
  display: block
  height: 36px
  left: 300px
  position: fixed
  right: 300px
  padding-top: 10px
  text-align: center
  line-height: inherit

.selector a
  text-decoration: none
  color: black
