<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <div class="logo">
    <img src="/assets/img/logo-large.png"></img>
  </div>

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <div class="selector">
      <span>New Composers Collective - Antigone in der Akademie der Künste</span>
      <span class="skip-element"><a href="http://google.com"><img class="next-button" src="/assets/svg/skip.svg"></img></a></span>
    </div>
  </body>
</html>
