---
layout: chrome
---

<div class="header">
  New Composers Collective
</div>

<a class="about-button" href="#">
  <img src="/assets/svg/about.svg"></img>
</a>

<div class="home">
  {{ content }}
</div>

<div class="about">
  <p>Something needs to be done.</p>
  <p>Something needs to be done.</p>
  <p>Something needs to be done.</p>
</div>

<div class="controls">
  <p>antigone performance with astrid ofner at the akademie der künste berlin</p>
  <p>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
  <p>excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
</div>

